.drink-boxes {
    display:flex;
    
}

.drink-link {
    flex: 33.33%;
}

.drink-box {
    margin: 1.5rem 1rem;
    padding: 1em;
    border: 4px solid gold;
    border-style: double;
    
    
}

.drink-info {
    text-align: center;
}

/* .drink-title {
    text-align: center;
} */