ul {
    list-style: none;
    
}

.login-form {
    border: 2px black dotted;
    display: grid;
    place-items: center;
}

.loggedOut-nav, .loggedIn-nav {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

}